<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Viação</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body id="page-top">
	<div id="div-menu">
		
		<h6 class="collapse-header">Menu</h6>
		<a class="collapse-item" href="">Funcionalidade 1</a>
		<a class="collapse-item" href="">Funcionalidade 2</a>
	</div>
	
	<div>
	<!-- CONTEUDO DO SITE -->
		<div class="content" layout:fragment="content"></div>
	</div>
	
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/layout.js}"></script>
</body>

</html>