@charset "UTF-8";
body, html{
    width: 100%;
    height: 100%;
}

div#interface{
    width: 900px;
    height: 100%;
    margin: 0px auto 0px auto;
}

/*Cabecalho*/
header#cabecalho{
    margin:50px auto 60px auto;
    width: 100%;
    text-align: center;
}

header#cabecalho h4{
    font:  'Proxima Nova';
    font-size: 40px;
    color: #414141;
}

.col-6{
    margin: 0px 380px 10px auto;
}

select#cboCursos {
    width: 320px;  
}

/*Corpo da esqueda*/
aside#esquerda{
    display: block;
    width: 50%;
    float: left;
    height: 360px;
    text-align: center;
}
aside#esquerda h6{
    font: 'Open Sans';
    font-size: 22px;
    color:black;
    margin-top:15px;
}

/*Corpo da direita*/
aside#direita{
    display: block;
    width: 50%;
    float: right;
    height: 360px;
    text-align: center;
}
aside#direita h6{
    font: 'Open Sans';
    font-size: 22px;
    color:black;
    margin-top:15px;
}

/*Campos DATA*/
ul{
    margin: 0 auto;
}

ul li{
    list-style: none;
    margin: 5px;
    float: left;
}

/*Botões*/
div#botoes{  
    width: 200px;
    height: 50px;
    margin: 20px auto;
    float: right;
}

.btn{
    margin-left:5px;
}
div#align-right{
    float: none;
    margin: 10px auto 0px 40px;
}

/* Mensagem */
div#mensagens {
    float: initial;
    width: auto;
    margin-left: 30px;
    margin-bottom: 30px;
}

div#mensagens ul li{
    width: auto;
    height: auto;
}

/*Responsividade*/
@media only screen and (max-width: 992px) {
/* Inicio*/
header#cabecalho{
    margin:50px auto 60px auto;
}    

.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}  

div#interface{
    width: 800px;
    height: 100%;
    margin: 0px auto 0px auto;
}

/*Corpo da esqueda*/
aside#esquerda{
    display: block;
    width: 50%;
    float: left;
    height: 360px;
    text-align: center;
}

aside#esquerda h6{
    margin-top:25px;
}

/*Corpo da direita*/
aside#direita{
    display: block;
    width: 50%;
    float: right;
    height: 360px;
    text-align: center;
}

aside#direita h6{
    margin-top:25px;
}

/*Campos DATA*/
div#camp-dat{
   width: 100%;
   margin-left: 0px; 
}
ul{
    width: 450px;
    margin-left: -10%;
    line-height: 0.5;
    margin-bottom: 20px;
}

ul li{
    list-style: none;
    margin: 5px auto auto 10px;
    float: left;
    line-height: 2em;
}


/*Botões*/
div#botoes{  
    width: 200px;
    height: 50px;
    margin: 0px auto 0px auto;
}

.btn{
    margin-left:5px;
}
div#align-right{
    float: none;
    margin: 10px auto 0px auto;
}
}
@media only screen and (max-width: 768px) {
/* Inicio*/
header#cabecalho{
    margin:50px auto 60px auto;
}    
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}  

div#interface{
    width: 750px;
    height: 100%;
    margin: 0px auto 0px auto;
}

/*Corpo da esqueda*/
aside#esquerda{
    display: block;
    width: 50%;
    float: left;
    height: 360px;
    text-align: center;
}

/*Corpo da direita*/
aside#direita{
    display: block;
    width: 50%;
    float: right;
    height: 360px;
    text-align: center;
}

/*Campos DATA*/
div#camp-dat{
   width: 100%;
   margin-left: 0px; 
}
ul{
    width: 450px;
    margin-left: -10%;
    line-height: 0.5;
}

.form-control{
    padding: 5px !important;
}

ul li{
    list-style: none;
    margin: 5px auto auto 10px;
    float: left;
    line-height: 2em;
}
/*Botões*/
div#botoes{  
    width: 200px;
    height: 50px;
    margin: 0px auto 0px auto;
}

.btn{
    margin-left:5px;
}
div#align-right{
    float: none;
    margin: 10px auto 0px auto;
}
}

@media only screen and (max-width: 576px) {

.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}    

div#interface{
    width: 450px;
    height: 100%;
    margin: 0px auto 0px auto;
}

/* Cabecalho */
header#cabecalho h4{
    font-size: 30px;
}

/*Corpo da esqueda*/
aside#esquerda{
    display: block;
    width: 100%;
    float: start;
    height: 340px;
    text-align: center;
}

/*Corpo da direita*/
aside#direita{
    margin-top:20px;
    display: block;
    width: 100%;
    float: end;
    height: 340px;
    text-align: center;
}

/*Campos DATA*/
div#camp-dat{
   width: 100%;
   margin-left: 0px; 
}
ul{
    width: 435px;
    margin-left: 0%;
    margin-bottom: 20px;
    line-height: 0.5;
}

ul li{
    list-style: none;
    margin: 5px auto auto 10px;
    float: left;
    line-height: 2em;
}
/*Botões*/
div#botoes{  
    width: 400px;
    height: 150px;
    margin: 0px 0px 0px auto;
    float: center;
}

div#align-right{
    margin: 10px auto 0px -50px;
}

.btn{
    margin:5px;
    padding: 10px 100px 10px 100px;
}

}
    
/* *{
    border: 1px solid black;
} */
