@charset "UTF-8";

.body, html{
    width: 100%;
    height: 100%;
}

div#interface{
    font-family: "Open Sans";
    font-size: 16px;
    background: url(../_imagens/logo.png) no-repeat;
        background-position: 30% 100%;
        background-size: 200px;
    height: 100%;        
}

/*Corpo*/
section#corpo{
    position: relative;
    margin:0 auto;
    margin-top: 150px;
    width: 30%;
    font: normal normal bold 14px/1.4em 'Open Sans',sans-serif;
    color:#4F4949;
    text-align: center;
    left: 12%;
}

/*Cabecalho Corpo*/
header#cabecalho-corpo h5{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Acme', sans-serif;
    font-size:40px;
    color: #120a8f;
}


/*Campo Matricula e Senha*/
.form-label-group{
    padding: 10px;
}

.form-control{
    height: 50px;
}

/*Botão*/
.theme-showcase{
    padding: 10px;

}
.btn-sample {
    color: #4F4949;
    background-color: #FBE27E;
    border-color: #F2F0FA;
    width: 100%;
    height: 50px;
    left: 20px;
    text-align: center;
}

.btn-sample:hover{
color: #4F4949;
background-color: #2B6CA3;
}

/* Responsividade */
@media only screen and (min-width: 1900px) {
    div#interface{
        font-family: "Open Sans";
        font-size: 16px;
        background: url(../_imagens/logo.png) no-repeat;
            background-position: 30% 100%;
            background-size: 200px;
        height: 100%;        
    }
}
@media only screen and (max-width: 992px) {
    div#interface{
        font-family: "Open Sans";
        font-size: 16px;
        background: url(../_imagens/logo.png) no-repeat;
            background-position: 30% 50%;
            background-size: 150px;
        height: 100%;        
    }

     /* Botão */
     .btn-sample{
        height: 50px;
    }

}
@media only screen and (max-width: 768px) {
    div#interface{
        font-family: "Open Sans";
        font-size: 16px;
        background: url(../_imagens/logo.png) no-repeat;
            background-position: 25% 0%;
            background-size: 135px;
        height: 100%;        
    }
}
@media only screen and (max-width: 576px) {

    div#interface{
        font-family: "Open Sans";
        font-size: 16px;
        background: url(../_imagens/logo.png) no-repeat;
            background-position: 50% 0%;
            background-size: 100px;
        height: 100%;  
        margin-top: 160px; 
        padding: 1rem;  
         
    }

    /*Corpo*/
    section#corpo{
        left: 0%;
        width: 90%;
    }

    /* Esqueci minha senha */
    a{
        font-size: 10px;
    }

    /* Botão */
    .btn-sample{
        height: 40px;
        
    }
    .btn-sample p {
        font-size: 15px;
        text-align: center;
    }
}

/* DEBUD  */
 /* *{
    border: 1px solid black;
}  */