@charset "UTF-8";

div#geral{
    width: fit-content;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/*Cabecalho*/
header#cabecalho{
    margin:50px auto 50px auto;
    width: 100%;
    text-align: center;
}

header#cabecalho h4{
    font:  'Proxima Nova';
    font-size: 40px;
    color: #414141;
}

#div_consulta{
    position: relative;
    width: 50%;
    margin-right: auto;
    margin-left: auto;

}

/*Tabela*/
table#tabela{
    position: relative;
    width: 50%;
    margin-right: auto;
    margin-left: auto;

}

thead tr th{
    text-align: left;
}

table#tabela td{
    width:30%;
}

table#tabela input{
    width: 30%;
    border: none;
    background-color:rgba(200, 200, 200, 0.5);
    border-radius: 4px;
    text-align: center;
}

table td:last-child{
    text-align: center;
}

/*Botões*/
div#botoes{
    align-content: center;
    float: inline-end;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    left: -20%;
}

/*Mensagem DEBUG*/
div#align-right{
    float: right;
    margin: 20px;
}

div#mensagens {
    float: initial;
    width: auto;
    margin-left: 30px;
    margin-bottom: 30px;
}

div#mensagens ul li{
    width: auto;
    height: auto;
}

/* *{
    border: 1px solid black;
}*/